# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
sdist/
wheelhouse/
*.egg

# Virtual Environments
.env
.venv/
env/
venv/
ENV/
VENV/

# Project-specific output files
*.log
*.json
*.pcap

# IDE and editor configuration
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db